pre { line-height: 125%; margin: 0; }
td.linenos pre { color: #000000; background-color: #f0f0f0; padding-left: 5px; padding-right: 5px; }
span.linenos { color: #000000; background-color: #f0f0f0; padding-left: 5px; padding-right: 5px; }
td.linenos pre.special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
span.linenos.special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
.highlight .hll { background-color: #ffffcc }
.highlight { background: #ffffff; }
.highlight .c { color: #4C566A } /* Comment */
.highlight .err { color: #BF616A } /* Error */
.highlight .g { color: #D8DEE9 } /* Generic */
.highlight .k { color: #81A1C1 } /* Keyword */
.highlight .l { color: #81A1C1 } /* Literal */
.highlight .n { color: #D8DEE9 } /* Name */
.highlight .o { color: #D8DEE9 } /* Operator */
.highlight .x { color: #D8DEE9 } /* Other */
.highlight .-Prompt { color: #4C566A } /* Prompt */
.highlight .-PromptNum { color: #D8DEE9 } /* PromptNum */
.highlight .p { color: #D8DEE9 } /* Punctuation */
.highlight .ch { color: #4C566A } /* Comment.Hashbang */
.highlight .cm { color: #4C566A } /* Comment.Multiline */
.highlight .cp { color: #5E81AC } /* Comment.Preproc */
.highlight .cpf { color: #4C566A } /* Comment.PreprocFile */
.highlight .c1 { color: #4C566A } /* Comment.Single */
.highlight .cs { color: #4C566A } /* Comment.Special */
.highlight .gd { color: #EBCB8B } /* Generic.Deleted */
.highlight .ge { color: #D8DEE9; font-style: italic } /* Generic.Emph */
.highlight .gr { color: #BF616A } /* Generic.Error */
.highlight .gh { color: #88C0D0 } /* Generic.Heading */
.highlight .gi { color: #D8DEE9 } /* Generic.Inserted */
.highlight .g-Lineno { color: #434C5E } /* Generic.Lineno */
.highlight .go { color: #D8DEE9 } /* Generic.Output */
.highlight .gp { color: #D8DEE9 } /* Generic.Prompt */
.highlight .gs { color: #D8DEE9; font-weight: bold } /* Generic.Strong */
.highlight .gu { color: #81A1C1 } /* Generic.Subheading */
.highlight .gt { color: #EBCB8B } /* Generic.Traceback */
.highlight .kc { color: #BF616A } /* Keyword.Constant */
.highlight .kd { color: #81A1C1 } /* Keyword.Declaration */
.highlight .kn { color: #81A1C1 } /* Keyword.Namespace */
.highlight .kp { color: #81A1C1 } /* Keyword.Pseudo */
.highlight .kr { color: #5E81AC } /* Keyword.Reserved */
.highlight .kt { color: #81A1C1 } /* Keyword.Type */
.highlight .ld { color: #81A1C1 } /* Literal.Date */
.highlight .m { color: #B48EAD } /* Literal.Number */
.highlight .s { color: #A3BE8C } /* Literal.String */
.highlight .na { color: #8FBCBB } /* Name.Attribute */
.highlight .nb { color: #81A1C1 } /* Name.Builtin */
.highlight .nc { color: #8FBCBB } /* Name.Class */
.highlight .no { color: #8FBCBB } /* Name.Constant */
.highlight .nd { color: #8FBCBB } /* Name.Decorator */
.highlight .ni { color: #D08770 } /* Name.Entity */
.highlight .ne { color: #D08770 } /* Name.Exception */
.highlight .nf { color: #88C0D0 } /* Name.Function */
.highlight .nl { color: #88C0D0 } /* Name.Label */
.highlight .nn { color: #88C0D0 } /* Name.Namespace */
.highlight .nx { color: #88C0D0 } /* Name.Other */
.highlight .py { color: #81A1C1 } /* Name.Property */
.highlight .nt { color: #81A1C1 } /* Name.Tag */
.highlight .nv { color: #D8DEE9 } /* Name.Variable */
.highlight .ow { color: #81A1C1 } /* Operator.Word */
.highlight .mb { color: #B48EAD } /* Literal.Number.Bin */
.highlight .mf { color: #B48EAD } /* Literal.Number.Float */
.highlight .mh { color: #B48EAD } /* Literal.Number.Hex */
.highlight .mi { color: #B48EAD } /* Literal.Number.Integer */
.highlight .mo { color: #B48EAD } /* Literal.Number.Oct */
.highlight .sa { color: #A3BE8C } /* Literal.String.Affix */
.highlight .sb { color: #A3BE8C } /* Literal.String.Backtick */
.highlight .sc { color: #A3BE8C } /* Literal.String.Char */
.highlight .dl { color: #A3BE8C } /* Literal.String.Delimiter */
.highlight .sd { color: #A3BE8C } /* Literal.String.Doc */
.highlight .s2 { color: #A3BE8C } /* Literal.String.Double */
.highlight .se { color: #D08770 } /* Literal.String.Escape */
.highlight .sh { color: #A3BE8C } /* Literal.String.Heredoc */
.highlight .si { color: #A3BE8C } /* Literal.String.Interpol */
.highlight .sx { color: #A3BE8C } /* Literal.String.Other */
.highlight .sr { color: #EBCB8B } /* Literal.String.Regex */
.highlight .s1 { color: #A3BE8C } /* Literal.String.Single */
.highlight .ss { color: #A3BE8C } /* Literal.String.Symbol */
.highlight .bp { color: #81A1C1 } /* Name.Builtin.Pseudo */
.highlight .fm { color: #88C0D0 } /* Name.Function.Magic */
.highlight .vc { color: #D8DEE9 } /* Name.Variable.Class */
.highlight .vg { color: #D8DEE9 } /* Name.Variable.Global */
.highlight .vi { color: #D8DEE9 } /* Name.Variable.Instance */
.highlight .vm { color: #D8DEE9 } /* Name.Variable.Magic */
.highlight .il { color: #B48EAD } /* Literal.Number.Integer.Long */